<!DOCTYPE html>
<html>
    <head>
        <title>Tank It</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    </head>
    <body style="    background: linear-gradient(to bottom, #6FADC9 250px, #FCF8F0 600px);
    min-height: 100vh;
    position: relative; ">
        <div class="backgrounds" style="z-index: -1;"></div>
        <div class="skies" style="z-index: -2;     position: absolute;
    top: 0;
    left: 0;     width: 100%;
    height: 250px;
    overflow: hidden;
    pointer-events: none;">
            <div class="cloud layer1 flip"></div>
            <div class="cloud layer2 flip"></div>
            <div class="cloud layer3 flip"></div>
            <div class="cloud layer4 flip"></div>
        </div>
        <div>
            <button onclick="window.location.href='/auto'" style='width: 100px; height: 150px; background-color: #DB78B1; color: #5F4C8E; position:absolute; top: 200px; transform: translateX(-50%); clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);'>AUTO</button>
            <button onclick="window.location.href='/manual'" style='width: 100px; height: 150px; position:absolute; bottom: 200px; transform: translateX(-50%); clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);'>MANUAL</button>
        </div>
        <div class="tank_art"></div>
    </body>
</html>

